/* Login container */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2ea754, #74f27a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



.login-container{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    color: #333;
    height:377px;
   }
   
   /* Input */
   .login-container form input[type=password]{
    position:relative;
    top:86px;
    left:85px;
    min-width:135px;
    height:28px;
    min-height:3px;
   }
   
   /* Button */
   .login-container form button{
    position:relative;
    top:195px;
    left:-113px;
    height:62px;
    width:179px;
    filter: grayscale(0.28) invert(0.12) hue-rotate(80deg);
    background-image: linear-gradient(to bottom, #2ea754, #74f27a);
   }
   
   /* Input */
   .login-container form input[type=text]{
    position:relative;
    top:63px;
    left:-7px;
    width:196px;
    height:28px;
   }
   
   /* Heading */
   .login-container h1{
    position:relative;
    top:40px;
    left:-15px;
   }
   .login-form p {
    font-size: 0.9em;
}

.login-form p a {
    color: #2b5876;
    text-decoration: none;
    font-weight: bold;
}

.login-form .error {
    color: #e74c3c;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.login-form h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}
